@using Sleemon.Common
<div class="page-header">
    <h1>试题库 <small><i class="ace-icon fa fa-angle-double-right"></i> 试卷列表</small></h1>
</div>

<div>
    <div class="nav-search">
        <button class="btn btn-sm btn-danger" style="height:36px;margin-right:0px" ui-sref="Training.Exam.Create({examId: 0})">
            <i class="ace-icon glyphicon glyphicon-plus"></i> 新建试卷
        </button>
    </div>
    <div class="table-header">
        试卷列表筛选结果
    </div>

    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover row-border hover">
        <thead>
            <tr>
                <th>试卷名称</th>
                <th>总分</th>
                <th>及格分</th>
                <th>最后更新人</th>
                <th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>最后更新时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>

            <tr ng-repeat="exam in ::exams" ng-class="{'selected': domain.selected}">
                <td ng-bind="exam.Title"></td>
                <td ng-bind="exam.TotalScore"></td>
                <td ng-bind="exam.PassingScore"></td>
                <td ng-bind="exam.LastUpdateUserName"></td>
                <td ng-bind="exam.LastUpdateTime | date: 'yyyy-MM-dd'"></td>
                <td>
                    <span ng-if="exam.Status == @((byte)ActionCategory.Publish)" class='label label-sm label-info arrowed arrowed-righ'>已发布</span>
                    <span ng-if="exam.Status == @((byte)ActionCategory.Save)" class='label label-sm label-success arrowed-in'>已保存</span>
                </td>
                <td>
                    <div class='hidden-sm hidden-xs action-buttons'>
                        <a ng-if="exam.Status == @((byte)ActionCategory.Publish)" class="blue" ui-sref="Training.Exam.Detail({examId: {{exam.Id}}})"><i class="ace-icon fa fa-search-plus bigger-130"></i></a>
                        <a ng-if="exam.Status == @((byte)ActionCategory.Save)" class="green" ui-sref="Training.Exam.Create({examId: {{exam.Id}}})"><i class="ace-icon fa fa-pencil bigger-130"></i></a> @*&& exam.lastupdateuser= =@ViewBag.UserUniqueId*@
                        <a ng-if="exam.Status == @((byte)ActionCategory.Save)" class="red"><i class="ace-icon fa fa-trash-o bigger-130"></i></a> @*&& exam.lastupdateuser= =@ViewBag.UserUniqueId*@
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>